<section>
  <h1>Agrega un país</h1>
  <form action="/api/heroes/crear-heroe" method="post">
    <label for="nombrePais">Nombre país</label>
    <input
      name="nombrePais"
      type="text"
      minlength="3"
      maxlength="60"
      required
    />
    <br />
    <label for="nombreReal">Nombre Real</label>
    <input
      name="nombreReal"
      type="text"
      minlength="3"
      maxlength="60"
      required
    />
    <br />
    <label for="edad">Edad</label>
    <input name="edad" type="number" min="1" required />
    <br />
    <label for="planetaOrigen">Planeta de Orígen</label>
    <input
      name="planetaOrigen"
      type="text"
      minlength="3"
      maxlength="60"
      required
    />
    <br />
    <label for="debilidad">Debilidad</label>
    <input name="debilidad" type="text" minlength="3" maxlength="60" />
    <br />
    <label for="poderes">Poderes</label>
    <input
      name="poderes"
      type="text"
      minlength="3"
      maxlength="180"
      placeholder="para añadir múltiples aliados, separar cada uno por comas. ej: volar, planear"
    />
    <br />
    <label for="aliados">Aliados</label>
    <input
      name="aliados"
      type="text"
      minlength="3"
      maxlength="180"
      placeholder="para añadir múltiples aliados, separar cada uno por comas. ej: Spiderman, Hulk, Wonder Woman"
    />
    <br />
    <label for="enemigos">Enemigos</label>
    <input
      name="enemigos"
      type="text"
      minlength="3"
      maxlength="180"
      placeholder="para añadir múltiples enemigos, separar cada uno por comas. ej: John Williams, Bob Richards"
    />
    <br />
    <label for="creador">Creador</label>
    <input name="creador" type="text" required minlength="3" maxlength="60" />

    <button type="submit">Agregar país</button>
  </form>
</section>
