<section>
  <h1>Agrega un país</h1>
  <form action="/api/pais/crear-pais" method="post">
    <label for="nombreOficial">Nombre Oficial</label>
    <input name="nombreOficial" type="text" minlength="3" maxlength="90" required />
    <br />
    <label for="capital">Capital(es)</label>
    <input name="capital" type="text" required placeholder="Separadas por comas si son múltiples" />
    <br />
    <label for="borders">Fronteras</label>
    <input name="borders" type="text" placeholder="Separadas por comas" />
    <br />
    <label for="area">Área (km²)</label>
    <input name="area" type="number" min="0" />
    <br />
    <label for="population">Población</label>
    <input name="population" type="number" min="0"/>
    <br />
    <label for="gini">Índice GINI (por año)</label>
    <input name="gini" type="text" placeholder="ej: 2019:45.6,2020:46.2" />
    <br />
    <label for="timezones">Zonas Horarias</label>
    <input name="timezones" type="text" required placeholder="Separadas por comas" />
    <br />
    <button type="submit">Agregar país</button>
  </form>
</section>